Repository maxblee/maxblee-dot-com: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier . --write, eslint . --fix, stylelint --fix

.lintstagedrc.json:

{
	"*": "prettier . --write",
	"*.{astro,ts,js,cjs,svelte,mjs}": "eslint . --fix",
	"*.{astro,css,svelte}": "stylelint --fix"
}

added stylelint setup
  .husky/pre-push
  .lintstagedrc.json
  .stylelintrc.json
  .vscode/extensions.json
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
Due: prettier . --write

add ci script
  .github/workflows/ci.yml
  .husky/pre-push
  package.json
Due: prettier . --write

fix ci build
  .github/workflows/ci.yml
Due: prettier . --write

Update pnpm version (needed for change of auto-install-peer)
  .github/workflows/ci.yml
Due: prettier . --write

fix name of format command in ci
  .github/workflows/ci.yml
Due: prettier . --write

update ci node version
  .github/workflows/ci.yml
Due: prettier . --write

Added base backround
  .eslintrc.json
  src/layouts/BaseTemplate.astro
  src/pages/index.astro
  tailwind.config.cjs
  tsconfig.json
Due: prettier . --write, eslint . --fix, stylelint --fix

added custom font
  package.json
  pnpm-lock.yaml
  src/layouts/BaseTemplate.astro
  tailwind.config.cjs
Due: prettier . --write, eslint . --fix, stylelint --fix

updated personal site (1 page)
  .eslintrc.json
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/assets/In-Blue-40-Reg-Trademark.png
  src/assets/In-White-40-Reg-Trademark.png
  src/assets/github-mark-white.svg
  src/assets/github-mark.svg
  src/layouts/BaseTemplate.astro
  src/pages/index.astro
  src/styles/base.css
  tailwind.config.cjs
  tsconfig.json
Due: prettier . --write, eslint . --fix, stylelint --fix

fix linting
  .eslintrc.json
  package.json
  pnpm-lock.yaml
  src/layouts/BaseTemplate.astro
  src/pages/index.astro
Due: prettier . --write, eslint . --fix, stylelint --fix

update accessibility, seo
  src/layouts/BaseTemplate.astro
  src/pages/index.astro
  tailwind.config.cjs
Due: prettier . --write, eslint . --fix, stylelint --fix

lint fix
  src/layouts/BaseTemplate.astro
  src/pages/index.astro
Due: prettier . --write, eslint . --fix, stylelint --fix

clean up mobile styles
  src/layouts/BaseTemplate.astro
  src/pages/index.astro
Due: prettier . --write, eslint . --fix, stylelint --fix

update links to reflect most recent election results
  src/pages/index.astro
Due: prettier . --write, eslint . --fix, stylelint --fix

edit lead paragraph
  src/pages/index.astro
Due: prettier . --write, eslint . --fix, stylelint --fix

replace github link with icon link
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  src/pages/index.astro
Due: prettier . --write, eslint . --fix, stylelint --fix

pnpm i (updated npm)
  pnpm-lock.yaml
Due: prettier . --write

update node and pnpm version in ci
  .github/workflows/ci.yml
Due: prettier . --write

remove svelte from deps (not really needed)
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  svelte.config.js
  tailwind.config.cjs
Due: prettier . --write, eslint . --fix

upgrade astro to v5
  package.json
  pnpm-lock.yaml
Due: prettier . --write

wip: start upgrading tailwind
  .husky/pre-commit
  .prettierrc.json
  astro.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier . --write, eslint . --fix

upgrade tailwind
  package.json
  pnpm-lock.yaml
  src/styles/base.css
  tailwind.config.cjs
Due: prettier . --write, eslint . --fix, stylelint --fix

formatting
  src/layouts/BaseTemplate.astro
  src/pages/index.astro
Due: prettier . --write, eslint . --fix, stylelint --fix

remove svelte references from eslint config
  .eslintrc.json
Due: prettier . --write

update eslint
  .eslintignore
  .eslintrc.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: prettier . --write, eslint . --fix

remove tailwind logical
  package.json
  pnpm-lock.yaml
  src/layouts/BaseTemplate.astro
  src/pages/index.astro
Due: prettier . --write, eslint . --fix, stylelint --fix

update prettier-plugin-astro
  package.json
  pnpm-lock.yaml
Due: prettier . --write

update lint-staged and husky
  package.json
  pnpm-lock.yaml
Due: prettier . --write

remove stylelint
  package.json
  pnpm-lock.yaml
Due: prettier . --write

update shart
  package.json
  pnpm-lock.yaml
Due: prettier . --write

remove tailwind logical from prop list
  .lintstagedrc.json
  src/styles/base.css
Due: prettier . --write, stylelint --fix

tweak style
  astro.config.mjs
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/content/index.mdx
  src/layouts/BaseTemplate.astro
  src/pages/index.astro
  src/styles/_md_defaults.scss
  src/styles/_normalize.scss
  src/styles/_variables.scss
  src/styles/base.css
  src/styles/base.scss
  tsconfig.json
Due: prettier . --write, eslint . --fix, stylelint --fix

add basic structure for site
  src/components/FindMe.astro
  src/content/index.mdx
  src/styles/_md_defaults.scss
  src/styles/base.scss
  tsconfig.json
Due: prettier . --write, eslint . --fix, stylelint --fix

scaffold portfolio bit
  src/components/PortfolioGrid.astro
  src/components/PortfolioPiece.astro
Due: prettier . --write, eslint . --fix, stylelint --fix

updated styles for site.
  src/assets/portfolio/energy-usage.png
  src/components/FindMe.astro
  src/components/PortfolioGrid.astro
  src/components/PortfolioPiece.astro
  src/content/index.mdx
  src/styles/_md_defaults.scss
  src/styles/base.scss
Due: prettier . --write, eslint . --fix, stylelint --fix

style: minor tweaks for padding,line heights on mobile
  src/styles/_md_defaults.scss
  src/styles/base.scss
Due: prettier . --write
